<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指定租賃空間</title>
</head>
<body>
<!-- create_rentalspace.html -->



{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h2>创建新的 Rental Space</h2>
<p>当前位置已出租的空间 ID: {{ existing_spaces|join:", " }}</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">提交</button>
</form>


</body>
{% if error_message %}
<script>
    alert("{{ error_message }}");
</script>
{% endif %}
</html>