<!DOCTYPE html>
<html lang="zh-tw">
<style>
    body {
    font-family: 'Yu Gothic', sans-serif; /* 日式風格的字體 */
    background-color: #f9f4e8; /* 淺黃色背景 */
    color: #3d3d3d; /* 深色文字 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #dcd4c0; /* 英倫典雅的邊框 */
    background-color: #fff;
}

/* ... 其他 CSS ... */


</style>
<div class="container">
    <h2>密碼重設成功</h2>
    <p>你的密碼已經成功重設。現在你可以<a href="{% url 'login' %}">登入</a>了。</p>
</div>


</html>
